body{
    text-align: center;
    margin-top: 150px;
}

#content{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

#header{
    font-family: 'Rampart One', cursive;
}